@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.min-h-screen {
    min-height: 100vh;
}

.bg-gray-100 {
    background-color: #f7fafc;
}

.view-details-button {
    background-color: #4c51bf;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-details-button:hover {
    background-color: #434190;
}